{% extends 'base.html'%}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
{% block body%}
<div class="container">
    <!-- Registration Form -->
    <div class="row">

        <div class="col-lg-4 register-container">
            <div class="form">
                <span class="title">Registration</span>

                <form novalidate action="{% url 'Account:register-view' %}" autocomplete="off" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        {{signupform.username}}

                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        {{signupform.email}}

                        <i class="uil uil-envelope icon"></i>
                    </div>

                    <div class="input-field">
                        {{signupform.password1}}

                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        {{signupform.password2}}

                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <div class="g-recaptcha" data-sitekey="6LdaeUAfAAAAAB1RH-OjBI-Yq53aDiWQKT3HlYA8"></div>
                        </div>
                    </div>

                    <a href="#" class="text">Forgot password?</a>
                    <div class="input-field button">
                        <input type="submit" value="Register" />
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Already have a account?
                        <a href="{% url 'Account:login-view' %}" class="text login-link">Signin now</a>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 d-flex align-items-center">
            <div class="dash-line">
                <hr>
            </div>
            <div class="m-2">Or</div>
            <div class="dash-line">
                <hr>
            </div>
        </div>

        <div class="col-lg-4 social-icon ">
            <div class="d-flex">

                <button class="btn btn-facebook mb-3 btn-lg"><a
                        href="{% provider_login_url 'facebook' method='js_sdk' %}"><img
                            src="{% static 'img/facebook.png' %}" alt="img"><span class="mx-2">Sign Up With
                            Facebook</span></a> </button>
            </div>
            <div class="d-flex">
                <button class="btn btn-google mb-3 btn-lg"> <a href="{% provider_login_url 'google' %}"> <img
                            src="{% static 'img/google.png' %}" alt="img"><span class="mx-2">Sign Up With
                            Google</span></a> </button>
            </div>


        </div>
    </div>
</div>

{% endblock %}