<script>

/*--------------------
CSRF_TOKEN
----------------------*/

    const getToken = (name) => {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(
                        name.length += 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    let csrftoken = getToken('csrftoken');


let updateServiceBtns = document.getElementsByClassName('service-btn')
for (let i=0; i<updateServiceBtns.length; i++){
    updateServiceBtns[i].addEventListener('click', function(){
        console.log(updateServiceBtns[i])
        let serviceId = this.getAttribute('serviceId')
        let serviceName=this.getAttribute('serviceName')

        data = {
            "serviceId": serviceId,
            "serviceName": serviceName,
            "type":"service"
        }
        console.log(data)
        let url = "{% url 'Basket:basket-add-view' %}" 
        fetch(url,{
            method:'POST',
            headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
    
            },
            body:JSON.stringify(data)
        })                                                                  //stringify is used for that
        .then((response) =>{
            return response.json()   //then we wanna send back the jsonresponse that we defined in updateItem function
        })
        .then((data) =>{
            console.log('data:',data)  //then we need to console to be able to see the JSONresponse (i.e data,Item was added.)

        })


  })
}

let updateEventBtns = document.getElementsByClassName('event-btn')
for (let i=0; i<updateEventBtns.length; i++){
    updateEventBtns[i].addEventListener('click', function(){
        console.log(updateEventBtns[i])
        let eventid = this.getAttribute('eventId')
        let eventname=this.getAttribute('eventName')

        data = {
            "eventId": eventid,
            "eventName": eventname,
            "type":"event",
        }
        console.log(data)
        let url = "{% url 'Basket:basket-add-view' %}" 
        fetch(url,{
            method:'POST',
            headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
    
            },
            body:JSON.stringify(data)
        })                                                                  //stringify is used for that
        .then((response) =>{
            return response.json()   //then we wanna send back the jsonresponse that we defined in updateItem function
        })
        .then((data) =>{
            console.log('data:',data)  //then we need to console to be able to see the JSONresponse (i.e data,Item was added.)

        })


  })
}


</script>