{% load static %}
{% for i in companies %}
<div class="col-4 shadow-sm p-2">
    <div class="course-item">
        {% if i.thumbnail %}
        <img src="{{i.thumbnail.url}}" class="img-fluid" alt="...">
        {% else %}
        <img src="{% static 'assets/img/placeholder.jpeg' %}" class="img-fluid" alt="...">
        {% endif %}
        <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
            </div>
            <h3><a href="{{i.get_absolute_url}}">{{i.name}}</a></h3>
            <div>
                {{i.description|truncatechars:90|safe}}

            </div>
            <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center"><span><i class="bi bi-clock"></i>
                        {{i.opening_time}} to
                        {{i.closing_time}} </span></div>
                <div class="trainer-rank d-flex align-items-center"> <i class="bx bx-user"></i>&nbsp;{{i.followers}}
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;{{i.likes}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}