{% extends 'baseinner.html' %}
{% load static %}
{% block main %}

<section id="company"
  style="background-image: url(/staticfiles/assets/img/gymbanner.jpg); background-repeat: no-repeat;  background-size: cover;">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="container col-md-6">
          <h2><span>Advance Search</span></h2>
          <form action="get">
            <div class="d-flex">

              <input type="text" data-filter="company" name="companyname" class="filter-input form-control"
                placeholder="Search for Companies" id="companyname">
              <input type="text" data-filter="location" name="companyname" class="filter-input form-control"
                placeholder="In Location" id="location">



            </div>
          </form>

        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/img/gymbanner.jpg)">
        <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam.
            Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti
            vel.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
        <div class="container">
          <h2>Sequi ea ut et est quaerat</h2>
          <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam.
            Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti
            vel.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

    </div>



  </div>

</section><!-- End Hero -->


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row mb-5">

      <!--Product Filtering Sidebar-->
      <div class="col-md-3 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block"><strong>Categories</strong></h3>

          {% for i in categories %}
          <label for="s_sm" class="d-flex">
            <input data-filter="category" value="{{i.id}}" class="filter-checkbox mr-2 mt-1" type="checkbox">
            <span class="text-black">{{i.name}}</span>
          </label>
          {% endfor %}
        </div>

      </div>

      <div class="col-md-9 ">
        <div class="row gy-5" id="filteredCompanies">
          {% for i in companies %}
          <div class="col-4 shadow-sm p-2">
            <div class="course-item">
              <img src="{{i.thumbnail.url}}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                </div>
                <h3><a href="{{i.get_absolute_url}}">{{i.name}}</a></h3>
                <div>
                  {{i.description|truncatechars:90|safe}}

                </div>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center"><span><i class="bi bi-clock"></i>
                      {{i.opening_time}} to
                      {{i.closing_time}} </span></div>
                  <div class="trainer-rank d-flex align-items-center"> <i class="bx bx-user"></i>&nbsp;{{i.followers}}
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;{{i.likes}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>




    </div>




  </div>



</div>
{% endblock %}


{% block script %}
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script>
  $(document).ready(function () {
    console.log('hello World!')

    //Select all the input fields with filter-checkbox class
    $('.filter-input').on('change', function (e) {

      let filterObj = {};

      $(".filter-input").each(function (index, elem) {
        let filterVal = $(this).val(); //value="id"
        let filterKey = $(this).data('filter'); //data-filter="color" or  "category"
        filterObj = {
          filterKey: filterVal,
        }


      });
      console.log('filterObj:', filterObj)
      //Initiate Ajax
      $.ajax({
        url: "{% url 'Company:searchengine-view' %}",
        data: filterObj,
        method: 'get',
        dataType: 'json',
        beforeSend: function () {
          //$(".ajaxLoader").show();
        },
        success: function (response) {
          console.log(response)
          if (response.companies == '') {
            $("#filteredProducts").html('<h4 style="text-align:center;color:red;">No Companies found for this match.</h4>');
          }
          else {
            $("#filteredCompanies").html(response.companies);
          }




        }
      });

    })


    //Select all the input fields with filter-checkbox class
    $('.filter-checkbox').on('click', function (e) {

      let filterObj = {};

      $(".filter-checkbox").each(function (index, elem) {
        let filterVal = $(this).val(); //value="id"
        let filterKey = $(this).data('filter'); //data-filter="color" or  "category"

        //Construct array from all the input filed that are checked applying map()
        filterObj[filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + filterKey + ']:checked')).map(function (el) {
          return el.value;
        });

      });
      console.log('filterObj:', filterObj)
      //Initiate Ajax
      $.ajax({
        url: "{% url 'Company:companyjson-view' %}",
        data: filterObj,
        method: 'get',
        dataType: 'json',
        beforeSend: function () {
          //$(".ajaxLoader").show();
        },
        success: function (response) {
          console.log(response)
          if (response.companies == '') {
            $("#filteredProducts").html('<h4 style="text-align:center;color:red;">No Companies found for this match.</h4>');
          }
          else {
            $("#filteredCompanies").html(response.companies);
          }




        }
      });


    }





    )
  })


</script>
{% endblock %}