{% extends 'baseinner.html'%} {% load static %}
{% block head %}
<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
<link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">
<style>
    #footer {
        margin-left: 0px !important;
    }

    .khalti-btn {
        background: #a554a5;
        color: white;
        border: none;
        font-weight: 600;
        padding: 12px;
        width: 100%;
    }

    .khalti-btn:hover {
        background: #7c467c;
    }
</style>
{% endblock %}

{% block main %}

<div class="container">
    <section class="section">
        <div class="row">



            <div class="col-lg-6">

                <div class="card p-4">
                    <div class="card-body">
                        <div class="pagetitle">
                            <h1>Sign up for Gym Membership</h1>
                        </div><!-- End Page Title -->
                        <hr>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="row mb-3">
                                <label for="inputTime" class="col-sm-2 col-form-label">Joining time</label>
                                <div class="col-sm-10">
                                    <input type="date" name="joiningtime" class="form-control">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="inputTime" class="col-sm-2 col-form-label">Coming Time</label>
                                <div class="col-sm-10">
                                    <input type="time" name="comingtime" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Paying plan</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="payingplan" id="membershipSelect"
                                        aria-label="Default select example">
                                        <option selected>Select Plan</option>
                                        {% for i in memberships %}
                                        <option membershipid="{{i.id}}" value="{{i.price}}">{{i.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>



                        </form>

                    </div>
                </div>

            </div>

            <div class="col-lg-4">

                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Secure Checkout </h5>

                        Total: Rs <span id="totalprice">0</span>
                        <button class=" mt-2 khalti-btn" id="payment-button">Pay with Khalti</button>
                    </div>
                </div>



            </div>
        </div>
    </section>
</div>



{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var config = {
        // replace the publicKey with yours
        "publicKey": "test_public_key_95cae5a0974c43b1a6be964395ab4853",
        "productIdentity": "order_{{order.id}}",
        "productName": "order_{{order.id}}",
        "productUrl": "http://localhost:8000",
        "paymentPreference": [
            "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
        ],
        "eventHandler": {
            onSuccess(payload) {
                console.log('Payload', payload);
                axios.get("{% url 'Company:gymmembershipsuccess-view' %}", {
                    params: {
                        "token": payload.token,
                        // "amount": payload.amount,
                        "order_id": "{{order.id}}"
                    }

                }).then(function (resp) {
                    if (resp.data.success == true) {
                        alert('You successfully registered for the selected plan')
                        location.reload()
                    } else {
                        alert("Sorry. Error occurred")
                        location.href = "{{request.build_absolute_uri}}"
                    }
                })


            },
            onError(error) {
                console.log('500 error')
                console.log(error);
            },
            onClose() {
                console.log('widget is closing');
            }
        }
    };

    let checkout = new KhaltiCheckout(config);
    let btn = document.getElementById("payment-button");
    var totalamount = 0
    var selectElem = document.getElementById('membershipSelect')
    selectElem.addEventListener('change', function (e) {
        totalamount = e.target.value
        document.getElementById('totalprice').innerHTML = totalamount
    })
    console.log(totalamount)

    btn.onclick = function () {
        //minimum transaction amount must be 10, i.e 1000 in paisa.
        checkout.show({ amount: totalamount * 100 });
    }



</script>

{% endblock %}

{% endblock %}