{% extends 'baseinner.html' %}
{% block title %}Basket Summary{% endblock %}


{% block head %}
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shopping Cart
        </span>
    </div>
</div>
<br><br>
{% endblock %}

  {% block style %}
  {% endblock %}


<br><br>
{% block main %}
<section>
    <!-- Shoping Cart -->
<div class="container">
    <div class="row">

        <div class="col-lg-8 col-sm-12  m-b-50">
                    {% if basket.get_cart_items == 0 %}
                    <h1 class="mb-2"> No products added yet!</h1>
                    {% else %}
                    <table class="table">
                        <thead class="table table-dark">
                            <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Sits</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Total</th>
                            </tr>
                        </thead>

                        {% for item in basket %}
                            <tr class=" table_row">
                                <td class="column-2">{{item.product.name}}</td>
                                <td class="column-3"> ${{item.price}}</td>
                                <td class="column-4">{{item.sits}}</td>
                                <td class="column-4">{{item.product.date_created}}</td>
                                <td class="column-5">${{item.totalprice}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                        {% endif %}
  <a href="{% url 'Checkout:checkout-view' %}"><button class="btn btn-primary mt-3 btn-sm">Go to Checkout</button></a>

        </div>




    </div>
</div>

</section>


{% endblock %}

{% block script %}
<script>
    //DeleteProducts
    $(document).ready(function () {

        $('tr').on('click', '#product-delete-btn', function () {
            output = " ";
            console.log('fine')
            const getToken = (name) => {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(
                                name.length += 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            let csrftoken = getToken('csrftoken');

            let fdata = {
                "prod_id": $(this).attr('prod-id'),
                'csrfmiddlewaretoken': csrftoken
            }
            mythis = this;
            console.log(fdata)
            $.ajax({
                url: "{% url 'Basket:basket-delete-view' %}",
                method: "post",
                data: fdata,
                dataType: 'json',
                success: function (response) {
                    console.log(response)
                    if (response.action == 'delete') {
                        //Remove Element
                        const cartDiv = document.getElementById("your-cart")
                        cartDiv.setAttribute('data-notify', response.basketqty)
                        $(mythis).closest('tr').fadeOut()

                        //updating value in Elements
                        document.getElementById('header-cart-total').innerHTML = "Total: $" + response.basket_subtotal_price
                        document.getElementById('cart-' + response.delete_id).style.display = "none";
                        document.getElementById("basket-stotal-price").innerHTML = '$' + response.basket_subtotal_price
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })

        })
    })
</script>
{% endblock %}