{% extends 'baseinner.html'%} {% load static %}

{% block main %}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Pricing</h2>
      <p>Our Competing Prices</p>
    </div>

    <div class="row align-items-center justify-content-center">

      {% for i in memberships %}
      <div class="col-lg-3 col-md-6">
        <div class="box" data-aos="zoom-in">
          <h3>{{i.name}}</h3>
          <h4><sup>Rs</sup>{{i.price}}<span> /{{i.paying_plan}}</span></h4>
          <ul>
            {% for item in i.memebershipplan_set.all %}
            <li>{{item.plan}}</li>
            {% endfor %}
            <li class="na">Pharetra massa</li>

          </ul>

          <div class="btn-wrap">
            <a href="#" membershipId="{{i.id}}" class="btn-buy membership-btn">Buy Now</a>
          </div>

        </div>
      </div>
      {% endfor %}


    </div>

  </div>
</section><!-- End Pricing Section -->
{% endblock %}