{% extends 'baseinner.html'%} {% load static %}
{% block head %}
<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
<link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">
<style>
  #footer {
    margin-left: 0px !important;
  }

  .khalti-btn {
    background: #a554a5;
    color: white;
    border: none;
    font-weight: 600;
    padding: 12px;
    width: 100%;
  }

  .khalti-btn:hover {
    background: #7c467c;
  }
</style>
{% endblock %}

{% block main %}


<div class="pagetitle">
  <h1>Company Registration Form</h1>

</div><!-- End Page Title -->


<div class="container">
  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Company Registration Form</h5>

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Name of Company</label>
                <div class="col-sm-10">
                  <input type="text" name="companyname" class="form-control">
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Contact Number</label>
                <div class="col-sm-10">
                  <input type="number" name="contactnumber" class="form-control">
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputTime" class="col-sm-2 col-form-label">Opening Time</label>
                <div class="col-sm-10">
                  <input type="time" name="openingtime" class="form-control">
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputTime" class="col-sm-2 col-form-label">Closing Time</label>
                <div class="col-sm-10">
                  <input type="time" name="closingtime" class="form-control">
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Membership</label>
                <div class="col-sm-10">
                  <select class="form-select" name="membership" id="membershipSelect"
                    aria-label="Default select example">
                    <option selected>Select Plan</option>
                    {% for i in memberships %}
                    <option membershipid="{{i.id}}" value="{{i.price}}">{{i.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <input type="submit" class="btn btn-primary" value="Submit"></input>

            </form>

          </div>
        </div>

      </div>

      <div class="col-lg-4">

        <div class="card p-3">
          <div class="card-body">
            <h5 class="card-title mb-0">Info</h5>
            <p class="mt-2">For the Free Plans, Money will be returned just after verifying your account.</p>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>

{% block script %}


{% endblock %}

{% endblock %}